body {
	margin: 0;
	font-family: lato, sans-serif;
}

@media screen and (max-width: 600px) {
	#all {
		max-width: 600px;
		margin: auto;
		background-color: #2d3436;
		height: 1200px;
	}

	.topnav {
		overflow: hidden;
		background-color: #00b894;
		position: sticky;
		top: -1px;
		z-index: 100;
	}

	.topnav #myLinks {
		display: none;
	}

	.topnav a {
		color: #2d3436;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
		display: block;
	}

	.topnav a.icon {
		background: #00b894;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav a:hover {
		background-color: #00b894;
		color: #2d3436;
	}

	.active {
		background-color: #00b894;
		color: #2d3436;
	}
	body {
		background-color: #2d3436;
	}
	.cont {
		color: #00b894;
		max-width: 560px;
		padding: 20px;
	}
	h4 {
		font-weight: 400;
	}
	#main {
		height: 95%;
	}
	iframe {
		border: none;
		height: 100%;
		width: 100%;
	}
	#footer {
		width: 100%;
		position: fixed;
		bottom: 0;
		background-color: #00b894;
		text-align: center;
		color: #2d3436;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.cont img{
		width: 100%;
		height: 100%;
	}
}
